<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- mybatis框架的个性化配置可在此配置 -->
    <!--<typeAliases>-->
        <!--<typeAlias type="top.app.dao.entity.UserInfo" alias="UserInfo"/>-->
    <!--</typeAliases>-->
    <typeAliases>
        <package name="top.app.dao.entity"/>
    </typeAliases>
</configuration>